@model aspnet_movies.Models.Director;

@{
    ViewData["Title"] = "Cadastro de Diretor";
}

<h1>Cadastro de Diretor</h1>

@using (Html.BeginForm("Index", "Director", FormMethod.Post))
{
    <div class="form-floating mb-3">
        @Html.EditorFor(d => d.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.LabelFor(d => d.Name)
        @Html.ValidationMessageFor(d => d.Name, null, new { @class = "text-danger" })
    </div>
    <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>

    <h5 class="mt-5">Diretores Cadastrados:</h5>
     @if (Director.GetAll().Count == 0) {
        <p>Nenhum diretor cadastrado por enquanto...</p>
    }

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Nome</th>
        </tr>
        @foreach (var director in Director.GetAll()) {
            <tr>
                <td>@director.Id</td>
                <td>@director.Name</td>
            </tr>
        }
    </table>
}
